name: Publish NuGet

on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Run Tests
      run: dotnet test --configuration Release --no-restore --verbosity normal

    - name: Build
      run: dotnet build --configuration Release --no-restore -p:ContinuousIntegrationBuild=true

    - name: Pack All Projects
      # csproj dosyalarındaki kendi versiyonlarını kullanması için -p:PackageVersion parametresini kaldırdık.
      # dotnet pack, her projenin kendi .csproj dosyasındaki <Version> etiketini baz alacaktır.
      run: |
        dotnet pack --configuration Release `
        -o out `
        --no-build `
        --force

    - name: Push Packages to NuGet
      shell: pwsh
      run: |
        # out klasöründeki her bir paketi döngü ile gönderir.
        # --skip-duplicate: Eğer aynı versiyon NuGet'te varsa hata vermez, pas geçer.
        Get-ChildItem "out\*.nupkg" | ForEach-Object {
          Write-Host "Attempting to publish: $($_.Name)"
          dotnet nuget push $_.FullName `
            --api-key ${{ secrets.NUGET_API_KEY }} `
            --source https://api.nuget.org/v3/index.json `
            --skip-duplicate
        }
